In [8]:
!pip install yfinance
!pip install matplotlib

Requirement already satisfied: yfinance in ./venv/lib/python3.9/site-packages (0.1.74)
Requirement already satisfied: lxml>=4.5.1 in ./venv/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.9/site-packages (from yfinance) (1.23.2)
Requirement already satisfied: multitasking>=0.0.7 in ./venv/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in ./venv/lib/python3.9/site-packages (from yfinance) (1.4.3)
Requirement already satisfied: requests>=2.26 in ./venv/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Collecting matplotlib
  Using cached matplotlib-3.5.3-cp39-cp39-macosx_10_9_x86_64.whl (7.3 MB)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.35.0-py3-none-any.whl (947 kB)
Requirement already satisfied: numpy>=1.17 in ./venv/lib/python3.9/site-packages (from matplotlib) (1.23.2)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.9/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.4-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.35.0 kiwisolver-1.4.4 matplotlib-3.5.3

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [15]:
appl=yf.Ticker('AAPL')

In [24]:
days=50
hist=appl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-06,146.826051,148.363924,144.699001,145.937286,71598400,0.00,0
2022-06-07,144.149771,148.793314,143.900117,148.503723,67808200,0.00,0
2022-06-08,148.373911,149.662115,147.255470,147.754776,53950200,0.00,0
2022-06-09,146.875982,147.744771,142.332291,142.442139,69473000,0.00,0
2022-06-10,140.085413,140.564743,136.869879,136.939789,91437900,0.00,0
2022-06-13,132.685684,135.012454,131.257675,131.697067,122207100,0.00,0
2022-06-14,132.945333,133.704274,131.297613,132.575836,84784300,0.00,0
2022-06-15,134.103724,137.149496,131.976688,135.242142,91533000,0.00,0
2022-06-16,131.896795,132.206363,128.861003,129.879593,108123900,0.00,0
2022-06-17,129.889579,132.895398,129.629930,131.377502,134520300,0.00,0
2022-06-21,133.234935,136.869886,133.135083,135.681534,81000500,0.00,0
2022-06-22,134.603026,137.568907,133.724257,135.162262,73409200,0.00,0
2022-06-23,136.630216,138.397749,135.441864,138.078201,72433800,0.00,0
2022-06-24,139.705933,141.713154,139.576123,141.463501,89116800,0.00,0
2022-06-27,142.502052,143.290964,140.774456,141.463501,70207900,0.00,0
2022-06-28,141.932856,143.221060,137.129530,137.249359,67083400,0.00,0
2022-06-29,137.269331,140.474870,136.480419,139.036865,66242400,0.00,0
2022-06-30,137.059613,138.178055,133.584445,136.530350,98964500,0.00,0
2022-07-01,135.851284,138.847122,135.471821,138.737274,71051600,0.00,0
2022-07-05,137.578896,141.413566,136.740050,141.363632,73353800,0.00,0
2022-07-06,141.153942,143.920088,140.884312,142.721756,74064300,0.00,0
2022-07-07,143.091235,146.346723,143.081254,146.147003,66253700,0.00,0
2022-07-08,145.058499,147.345331,144.798866,146.836029,64547800,0.00,0
2022-07-11,145.467930,146.436586,143.580553,144.669037,63141600,0.00,0
2022-07-12,145.557802,148.244073,144.848795,145.657669,77588800,0.00,0
2022-07-13,142.791661,146.246853,141.922857,145.288193,71185600,0.00,0
2022-07-14,143.880143,148.743383,143.051293,148.264053,78140700,0.00,0
2022-07-15,149.572242,150.650746,147.994432,149.961700,76259900,0.00,0
2022-07-18,150.530905,151.359755,146.496500,146.865997,81420900,0.00,0
2022-07-19,147.714813,151.020219,146.706220,150.790543,82982400,0.00,0
2022-07-20,150.910378,153.506778,150.161418,152.827713,64823400,0.00,0
2022-07-21,154.285694,155.354218,151.729248,155.134521,65086600,0.00,0
2022-07-22,155.174451,156.063216,153.197202,153.876251,66675400,0.00,0
2022-07-25,153.796366,154.824936,152.068770,152.737839,53623900,0.00,0
2022-07-26,152.048798,152.877648,150.590831,151.389725,55138700,0.00,0
2022-07-27,152.368358,157.111769,151.948942,156.572510,78620700,0.00,0
2022-07-28,156.762247,157.421335,154.195820,157.131744,81378700,0.00,0
2022-07-29,161.016349,163.403033,159.278757,162.284576,101689200,0.00,0
2022-08-01,160.786659,163.363082,160.666830,161.285965,67829400,0.00,0
2022-08-02,159.877927,162.184720,159.408578,159.788040,59907000,0.00,0
2022-08-03,160.616896,166.358920,160.527024,165.899567,82507500,0.00,0
2022-08-04,165.779721,166.958093,164.201911,165.580002,55474100,0.00,0
2022-08-05,163.210007,165.850006,163.000000,165.350006,56646600,0.23,0
2022-08-08,166.369995,167.809998,164.199997,164.869995,60276900,0.00,0
2022-08-09,164.020004,165.820007,163.250000,164.919998,63135500,0.00,0
2022-08-10,167.679993,169.339996,166.899994,169.240005,70170500,0.00,0
2022-08-11,170.059998,170.990005,168.190002,168.490005,57149200,0.00,0
2022-08-12,169.820007,172.169998,169.399994,172.100006,67946400,0.00,0
2022-08-15,171.520004,173.389999,171.350006,173.190002,54023100,0.00,0
2022-08-16,172.779999,173.490005,171.661804,173.020798,27678517,0.00,0

In [25]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [26]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-06-06,146.826051,148.363924,144.699001,145.937286,71598400,0.00,0
1,2022-06-07,144.149771,148.793314,143.900117,148.503723,67808200,0.00,0
2,2022-06-08,148.373911,149.662115,147.255470,147.754776,53950200,0.00,0
3,2022-06-09,146.875982,147.744771,142.332291,142.442139,69473000,0.00,0
4,2022-06-10,140.085413,140.564743,136.869879,136.939789,91437900,0.00,0
5,2022-06-13,132.685684,135.012454,131.257675,131.697067,122207100,0.00,0
6,2022-06-14,132.945333,133.704274,131.297613,132.575836,84784300,0.00,0
7,2022-06-15,134.103724,137.149496,131.976688,135.242142,91533000,0.00,0
8,2022-06-16,131.896795,132.206363,128.861003,129.879593,108123900,0.00,0
9,2022-06-17,129.889579,132.895398,129.629930,131.377502,134520300,0.00,0
10,2022-06-21,133.234935,136.869886,133.135083,135.681534,81000500,0.00,0
11,2022-06-22,134.603026,137.568907,133.724257,135.162262,73409200,0.00,0
12,2022-06-23,136.630216,138.397749,135.441864,138.078201,72433800,0.00,0
13,2022-06-24,139.705933,141.713154,139.576123,141.463501,89116800,0.00,0
14,2022-06-27,142.502052,143.290964,140.774456,141.463501,70207900,0.00,0
15,2022-06-28,141.932856,143.221060,137.129530,137.249359,67083400,0.00,0
16,2022-06-29,137.269331,140.474870,136.480419,139.036865,66242400,0.00,0
17,2022-06-30,137.059613,138.178055,133.584445,136.530350,98964500,0.00,0
18,2022-07-01,135.851284,138.847122,135.471821,138.737274,71051600,0.00,0
19,2022-07-05,137.578896,141.413566,136.740050,141.363632,73353800,0.00,0
20,2022-07-06,141.153942,143.920088,140.884312,142.721756,74064300,0.00,0
21,2022-07-07,143.091235,146.346723,143.081254,146.147003,66253700,0.00,0
22,2022-07-08,145.058499,147.345331,144.798866,146.836029,64547800,0.00,0
23,2022-07-11,145.467930,146.436586,143.580553,144.669037,63141600,0.00,0
24,2022-07-12,145.557802,148.244073,144.848795,145.657669,77588800,0.00,0
25,2022-07-13,142.791661,146.246853,141.922857,145.288193,71185600,0.00,0
26,2022-07-14,143.880143,148.743383,143.051293,148.264053,78140700,0.00,0
27,2022-07-15,149.572242,150.650746,147.994432,149.961700,76259900,0.00,0
28,2022-07-18,150.530905,151.359755,146.496500,146.865997,81420900,0.00,0
29,2022-07-19,147.714813,151.020219,146.706220,150.790543,82982400,0.00,0
30,2022-07-20,150.910378,153.506778,150.161418,152.827713,64823400,0.00,0
31,2022-07-21,154.285694,155.354218,151.729248,155.134521,65086600,0.00,0
32,2022-07-22,155.174451,156.063216,153.197202,153.876251,66675400,0.00,0
33,2022-07-25,153.796366,154.824936,152.068770,152.737839,53623900,0.00,0
34,2022-07-26,152.048798,152.877648,150.590831,151.389725,55138700,0.00,0
35,2022-07-27,152.368358,157.111769,151.948942,156.572510,78620700,0.00,0
36,2022-07-28,156.762247,157.421335,154.195820,157.131744,81378700,0.00,0
37,2022-07-29,161.016349,163.403033,159.278757,162.284576,101689200,0.00,0
38,2022-08-01,160.786659,163.363082,160.666830,161.285965,67829400,0.00,0
39,2022-08-02,159.877927,162.184720,159.408578,159.788040,59907000,0.00,0
40,2022-08-03,160.616896,166.358920,160.527024,165.899567,82507500,0.00,0
41,2022-08-04,165.779721,166.958093,164.201911,165.580002,55474100,0.00,0
42,2022-08-05,163.210007,165.850006,163.000000,165.350006,56646600,0.23,0
43,2022-08-08,166.369995,167.809998,164.199997,164.869995,60276900,0.00,0
44,2022-08-09,164.020004,165.820007,163.250000,164.919998,63135500,0.00,0
45,2022-08-10,167.679993,169.339996,166.899994,169.240005,70170500,0.00,0
46,2022-08-11,170.059998,170.990005,168.190002,168.490005,57149200,0.00,0
47,2022-08-12,169.820007,172.169998,169.399994,172.100006,67946400,0.00,0
48,2022-08-15,171.520004,173.389999,171.350006,173.190002,54023100,0.00,0
49,2022-08-16,172.779999,173.490005,171.661804,173.020798,27678517,0.00,0

In [29]:
hist_msft=yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-06,272.059998,274.179993,267.220001,268.750000,22400300,0,0
2022-06-07,266.640015,273.130005,265.940002,272.500000,22860700,0,0
2022-06-08,271.709991,273.000000,269.609985,270.410004,17372300,0,0
2022-06-09,267.779999,272.709991,264.630005,264.790009,26439700,0,0
2022-06-10,260.579987,260.579987,252.529999,252.990005,31422800,0,0
2022-06-13,245.110001,249.020004,241.529999,242.259995,46135800,0,0
2022-06-14,243.860001,245.740005,241.509995,244.490005,28651500,0,0
2022-06-15,248.309998,255.300003,246.419998,251.759995,33111700,0,0
2022-06-16,245.979996,247.419998,243.020004,244.970001,33169200,0,0
2022-06-17,244.699997,250.500000,244.029999,247.649994,43084800,0,0
2022-06-21,250.259995,254.750000,249.509995,253.740005,29928300,0,0
2022-06-22,251.889999,257.170013,250.369995,253.130005,25939900,0,0
2022-06-23,255.570007,259.369995,253.630005,258.859985,25861400,0,0
2022-06-24,261.809998,267.980011,261.720001,267.700012,33923200,0,0
2022-06-27,268.209991,268.299988,263.279999,264.890015,24615100,0,0
2022-06-28,263.980011,266.910004,256.320007,256.480011,27295500,0,0
2022-06-29,257.589996,261.970001,255.759995,260.260010,20069800,0,0
2022-06-30,257.049988,259.529999,252.899994,256.829987,31730900,0,0
2022-07-01,256.390015,259.769989,254.610001,259.579987,22837700,0,0
2022-07-05,256.160004,262.980011,254.740005,262.850006,22941000,0,0
2022-07-06,263.750000,267.989990,262.399994,266.209991,23824400,0,0
2022-07-07,265.119995,269.059998,265.019989,268.399994,20859900,0,0
2022-07-08,264.790009,268.100006,263.290009,267.660004,19658800,0,0
2022-07-11,265.649994,266.529999,262.179993,264.510010,19455200,0,0
2022-07-12,265.880005,265.940002,252.039993,253.669998,35868500,0,0
2022-07-13,250.190002,253.550003,248.110001,252.720001,29497400,0,0
2022-07-14,250.570007,255.139999,245.940002,254.080002,25102800,0,0
2022-07-15,255.720001,260.369995,254.770004,256.720001,29774100,0,0
2022-07-18,259.750000,260.839996,253.300003,254.250000,20975000,0,0
2022-07-19,257.579987,259.720001,253.679993,259.529999,25012600,0,0
2022-07-20,259.899994,264.869995,258.910004,262.269989,22788300,0,0
2022-07-21,259.790009,264.890015,257.029999,264.839996,22404700,0,0
2022-07-22,265.239990,265.329987,259.070007,260.359985,21881300,0,0
2022-07-25,261.000000,261.500000,256.809998,258.829987,21056000,0,0
2022-07-26,259.859985,259.880005,249.570007,251.899994,39348000,0,0
2022-07-27,261.160004,270.049988,258.850006,268.739990,45994000,0,0
2022-07-28,269.750000,277.839996,267.869995,276.410004,33459300,0,0
2022-07-29,277.700012,282.000000,276.630005,280.739990,32129400,0,0
2022-08-01,277.820007,281.279999,275.839996,278.010010,21539600,0,0
2022-08-02,276.000000,277.890015,272.380005,274.820007,22754200,0,0
2022-08-03,276.760010,283.500000,276.609985,282.470001,23518900,0,0
2022-08-04,281.799988,283.799988,280.170013,283.649994,18098700,0,0
2022-08-05,279.149994,283.649994,278.679993,282.910004,16767900,0,0
2022-08-08,284.049988,285.920013,279.320007,280.320007,18739200,0,0
2022-08-09,279.640015,283.079987,277.609985,282.299988,23405200,0,0
2022-08-10,288.170013,289.809998,286.940002,289.160004,24687800,0,0
2022-08-11,290.850006,291.209991,286.510010,287.019989,20065900,0,0
2022-08-12,288.480011,291.910004,286.940002,291.910004,22601900,0,0
2022-08-15,291.000000,294.179993,290.109985,293.470001,18072100,0,0
2022-08-16,291.989990,293.489990,290.420013,292.600006,7811235,0,0

In [30]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-06,146.826051,148.363924,144.699001,145.937286,71598400,0.0,0
2022-06-07,144.149771,148.793314,143.900117,148.503723,67808200,0.0,0
2022-06-08,148.373911,149.662115,147.255470,147.754776,53950200,0.0,0

In [31]:
hist.index

DatetimeIndex(['2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
               '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
               '2022-06-16', '2022-06-17', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-27', '2022-06-28',
               '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-05',
               '2022-07-06', '2022-07-07', '2022-07-08', '2022-07-11',
               '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15',
               '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21',
               '2022-07-22', '2022-07-25', '2022-07-26', '2022-07-27',
               '2022-07-28', '2022-07-29', '2022-08-01', '2022-08-02',
               '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-08',
               '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12',
               '2022-08-15', '2022-08-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [32]:
hist.index=hist.index.strftime('%d %B %Y')

Index(['06 June 2022', '07 June 2022', '08 June 2022', '09 June 2022',
       '10 June 2022', '13 June 2022', '14 June 2022', '15 June 2022',
       '16 June 2022', '17 June 2022', '21 June 2022', '22 June 2022',
       '23 June 2022', '24 June 2022', '27 June 2022', '28 June 2022',
       '29 June 2022', '30 June 2022', '01 July 2022', '05 July 2022',
       '06 July 2022', '07 July 2022', '08 July 2022', '11 July 2022',
       '12 July 2022', '13 July 2022', '14 July 2022', '15 July 2022',
       '18 July 2022', '19 July 2022', '20 July 2022', '21 July 2022',
       '22 July 2022', '25 July 2022', '26 July 2022', '27 July 2022',
       '28 July 2022', '29 July 2022', '01 August 2022', '02 August 2022',
       '03 August 2022', '04 August 2022', '05 August 2022', '08 August 2022',
       '09 August 2022', '10 August 2022', '11 August 2022', '12 August 2022',
       '15 August 2022', '16 August 2022'],
      dtype='object', name='Date')

In [37]:
hist=hist[['Close']]
hist.columns=['apple']
hist.head()

                 apple
Date
2022-06-06  145.937286
2022-06-07  148.503723
2022-06-08  147.754776
2022-06-09  142.442139
2022-06-10  136.939789

In [39]:
hist=hist.T
hist

Date,2022-06-06,2022-06-07,2022-06-08,2022-06-09,2022-06-10,2022-06-13,2022-06-14,2022-06-15,2022-06-16,2022-06-17,...,2022-08-03,2022-08-04,2022-08-05,2022-08-08,2022-08-09,2022-08-10,2022-08-11,2022-08-12,2022-08-15,2022-08-16
apple,145.937286,148.503723,147.754776,142.442139,136.939789,131.697067,132.575836,135.242142,129.879593,131.377502,...,165.899567,165.580002,165.350006,164.869995,164.919998,169.240005,168.490005,172.100006,173.190002,173.020798

In [40]:
hist.index.name='Name'

In [41]:
hist

Date,2022-06-06,2022-06-07,2022-06-08,2022-06-09,2022-06-10,2022-06-13,2022-06-14,2022-06-15,2022-06-16,2022-06-17,...,2022-08-03,2022-08-04,2022-08-05,2022-08-08,2022-08-09,2022-08-10,2022-08-11,2022-08-12,2022-08-15,2022-08-16
Name,,,,,,,,,,,,,,,,,,,,,
apple,145.937286,148.503723,147.754776,142.442139,136.939789,131.697067,132.575836,135.242142,129.879593,131.377502,...,165.899567,165.580002,165.350006,164.869995,164.919998,169.240005,168.490005,172.100006,173.190002,173.020798